*{
    margin: 0%;
    padding: 0%;
}
body
{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}
.nav-active:hover
{
    color: #cea06c;
}
.font-size
{
    font-size: 3em;
}
.activenav
{
    color:#cea06c;
}
.text-color,.footnav
{
    color: #87898f;
}
.opacity
{
    opacity: 0.3;
    transition: 0.5s;
}
.opacity:hover{
    opacity:1;
    transition: 0.5s;
}
.last{
    color: #cea06c;
    text-decoration: none;
}
.last:hover{
    color: #cea06c;
}
.icon-background
{
    background: #334f6c;
    transition: 0.5s;
}
.icon-background:hover
{
    background: #cea06c;
    transition: 0.5s;
}
.background
{
    position: relative;
}
.background-image
{
    background: url(../images/common-banner.jpg);
    max-height: 100%;
    height: 450px;
}
.layer
{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color:rgba(7,4,31,0.6);
}
.backgroundtext
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.background-color
{
    background-color: rgba(163, 163, 163, 0.171);
}
.footer-area
{
    background-color: #0e1424;
}
.input::placeholder
{
   padding: 20px;
}
.outer-border
{
    border: 1px solid transparent;
}
.outer-border:hover
{
    border: 1px solid #cea06c;
}
.btnborder
{
    border: 1px solid #cea06c;
    transition: 0.5s;
}
.btnborder:hover
{
    background-color: #cea06c;
    color: #fff;
    transition: 0.5s;
}
.footnav:hover
{
    color: #fff;
}